* {
  margin: 0;
  padding: 0%;
}

/* navbar begins */
.nav-link {
  font-family: 'Karla', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: black;
}
.navbar-brand img {
  width: 195px;
  height: 76px;
}

/* Navbar ends       */

/* Hero section starts */
.little-lemon-heading {
  font-family: Markazi Text, serif;
  font-weight: 500;
  font-size: 56px;
  color: #f4ce14;

}

.hero-chicago {
  font-family: Markazi Text, serif;
  font-weight: 300;
  font-size: 36px;
  color: #ffff;
  margin-top: -20px;
}

.brand-statement {
  font-family: Karla, serif;
  font-weight: 500px;
  font-size: 20px;
  color: white;
  max-width: 269px;
  margin-top: 30px ;
}

button {
  background-color:#f4ce14;
  color: black;
  font-weight: 500;
  padding: 10px;
  border-radius: 15px;
  margin: 20px 0px;
  border:none ;
}

.overlap-img {
  width: 300px;
  height: auto;
  position: absolute;
  top: 100px;
  right: 130px;
  border-radius: 19px;
}


/* Hero section ends here */


/* highlights section starts  */
.highlights {
  margin-top: 128px
}

.highlights > h1 {
font-family: Markazi Text, serif;
font-size: 46px;
font-weight: 500;
}

.card-component {
  max-width:258.36px ;
  max-height: fit-content;
  background-color: #EDEFEE;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Horizontal offset, Vertical offset, Blur, Spread, Color */
  border-radius: 16px; /* Optional for rounded corners */
  transition: all 0.3s ease; /* Smooth hover transition */
}

.card-title {
  margin: 15px 15px;
  font-family: Markazi Text, sans-serif;
  font-size: 23px;
  font-weight: 500;
  max-width: fit-content;
}

.price-tag {
margin: 15px 15px;
font-family: Karla, sans-serif;
font-size: 16px;
font-weight: 700;
color: #EE9972;
}

.card-text {
  font-family: Karla, sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 0px 15px;
}

/* Highlisghts section ends */


/* About section starts */
.about-text {
font-family: Karla, sans-serif;
font-weight:bold ;
font-size: 19px;
}


/* Footer */
.navlink-footer {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: Karla, sans-serif;
}

h6{
  font-family: karla, sans-serif;
  font-weight: bolder;
  color: white;
  font-size: 18px;
}




/* Responsive code */
@media (max-width: 768px) {
  .overlap-img {
    top: -200px;  /* Adjust for smaller screens */
    right: 140px; /* Adjust for smaller screens */
    width: 150px; /* Scale the image down on smaller screens */
  }
  .highlights {
    margin-top: 50px;
  }

  .aboutImage2{
    display: none;
  }


/* hero section img */
  .overlap-img {
    display: none;
  }


}

@media (max-width: 576px) {

  .overlap-img {
    display: none;
  }

  .highlights {
    margin-top: 0px;
  }
.aboutImage2{
    display: none;
  }

  .footer-logo {
    display: none;
  }



}
